*, *::before, *::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

*[data-href] {
  cursor: pointer;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $palette-primary;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

div, img {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0px;
}

:focus {
  outline: none;
}

.resp-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.v-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $palette-secondary;
  z-index: 1000;
}

.container {
  margin: auto;

  @media #{$bp-sm}{
    max-width: 560px;
  }

  @media #{$bp-md}{
    max-width: 750px;
  }

  @media #{$bp-lg}{
    max-width: 980px;
  }

  @media #{$bp-xl}{
    max-width: 1180px;
  }
}

button {
  background-color: $palette-accent;
  padding: 5px 10px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.dark {
  a {
    color: white;
  }

  .v-spinner {
    background-color: $palette-dark-secondary;
  }
}

.content-loader {
  width: 100%;
  z-index: 100;
}