@font-face {
font-family: 'Panton';
font-style: normal;
font-weight: normal;
src: url('~@/assets/fonts/panton/Panton-Regular.woff') format('woff');
}


@font-face {
font-family: 'Panton';
font-style: italic;
font-weight: normal;
src: url('~@/assets/fonts/panton/Panton-Italic.woff') format('woff');
}


@font-face {
font-family: 'Panton';
font-style: normal;
font-weight: bold;
src: url('~@/assets/fonts/panton/Panton-Bold.woff') format('woff');
}


@font-face {
font-family: 'Panton';
font-style: italic;
font-weight: bold;
src: url('~@/assets/fonts/panton/Panton-BoldItalic.woff') format('woff');
}

@font-face {
font-family: 'Panton Black';
font-style: normal;
font-weight: normal;
src: url('~@/assets/fonts/panton/Panton-Black.woff') format('woff');
}

