$palette-primary: #333343;
$palette-secondary: #F6F7FB;
$palette-accent: #f93d7c;

/* Breakpoints */
$bp-sm: "(min-width: 576px)"; // col-sm
$bp-md: "(min-width: 768px)"; // col-md
$bp-lg: "(min-width: 992px)"; // col-lg
$bp-xl: "(min-width: 1200px)"; // col-xl